<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <!--Con string til server i kælderen -->
    <add name="DBCon"
          providerName="System.Data.SqlClient"
          connectionString="Data Source=planner.aspitweb.dk;Initial Catalog=AspitPlanner;User ID=SA;Password=is10lAlle;Connect Timeout=5;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
    <add name="Local"
            providerName="System.Data.SqlClient"
         
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=AspitPlanner.Helpers.DBCon;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
  </connectionStrings>
</configuration>